main > section {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #f1f1f1;
}

.game-title {
    font-size: 20pt;
}

/*body{
    background: linear-gradient(90deg, #38bccc 0%, #33cec6 25%, #56ddb5 50%, #88ea9d 75%, #bef484 100%);
}*/

.intro-section {
    height: 100vh;
    background: linear-gradient(180deg, rgba(56, 188, 204, .5) 0%, rgba(51, 206, 198, .5) 20%, rgba(86, 221, 181, .5) 40%, rgba(136, 234, 157, .5) 60%, rgba(190, 244, 132, .5) 80%, rgba(249, 248, 113, .5) 100%);
}

.intro-text {
    width: 50%;
    height: 100%;
    position: relative;
}

#intro-text-1 {
    position: absolute;
    top: 35%;
    left: 10%;
}

#intro-text-2 {
    position: absolute;
    top: 65%;
    left: 5%;

}

.intro-images {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.swiper {
    width: 75%;
}

.games-section {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.game-card {
    border-radius: 20px;
    background-color: rgba(223, 220, 220, 0.5);
    position: relative;

    margin: 20px 0;
}

.game-card::before {
    content: "";
    position: absolute;
    height: 45%;
    width: 100%;
    background-color: rgba(249, 248, 113, .5);
    border-radius: 20px 20px 0 0;
}

.game-card-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
}

.game-card-image {
    height: 35vh;
    width: 45vw;
    border-radius: 30px;
    padding: 3px;
    background-color: rgba(249, 248, 113, .5);
}

.game-card-image img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    border: 3px solid #fff;
}

.game-card-text {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    width: 40vw;
    padding-top: 10px;
}

.game-more-info{
    cursor: pointer;
    transition: all 0.3s;
}

.game-more-info:hover{
    transform: scale(125%);
}

.presentation-section {
    height: 50vh;
    display: flex;
    align-items: center;
    background-color: rgba(190, 244, 132, .5);
}

.presentation-text {
    width: 50%;
    padding-left: 30px;

}

.presentation-title {
}

.presentation-description {

}

.presentation-image {
    width: 50%;
    display: flex;
    justify-content: end;

}

.presentation-image img {
    height: 50vh;
    width: 40vw;


}


.actus-section {
    height: 50vh;
    display: flex;
    align-items: center;
    background-color: rgba(136, 234, 157, .5);

}

.actus-image {
    width: 50%;
}

.actus-image img {
    height: 50vh;
    width: 40vw;
}

.actus-text {
    width: 50%;
}

.actus-title {
}

.actus-description {

}


.stats-section {
    height: 50vh;
    display: flex;
    align-items: center;
    background-color: rgba(86, 221, 181, .5);
}

.stats-image {
    width: 50%;
    display: flex;
    justify-content: end;
}

.stats-image img {
    height: 50vh;
    width: 40vw;
}

.stats-text {
    width: 50%;
    padding-left: 30px;
}

.stats-title {
}

.stats-description {

}

.map-section {
    height: 50vh;
    display: flex;
    align-items: center;
    background-color: rgba(51, 206, 198, .5);
}

.map-map {
    width: 50%;
}

.map-text {
    width: 50%;
}

