
h1{
    text-align: center;
    margin-top: 2px;
    color: white;
    font-size:2.9rem;
   
    
}
h2.title{
  margin-left: 45px;
  margin-top: 2px;
  color: rgb(31, 139, 182);
  font-size:2.5rem;
  letter-spacing: 1px;
  
  
}
h2.title2{
  margin-left: 45px;
  margin-top: 65px;
  color: rgb(31, 139, 182);
  font-size:2.5rem;
  letter-spacing: 1px;

}

.premiere_parti {
    height: 400px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }




div#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 440px;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
   align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }


  div.hautimage {
    border-radius: 5px;
    margin-left: 600px;
    position: absolute;
    width: 530px;
    height: 400px;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  div.haut {
    height: 280px;
    width: 530px;
  }
  div.haut img{
    width: 530px;
    height: 260px;
    border-radius: 8px;
  }
  div.textebas{
    color: black;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
    width: 530px;
    height: 130px;
      margin-top: -10px;
   
  }
  span.soustitre{
    margin-left: 70px;
    font-size: 14pt;
    font-weight: bold;

  }
  
 div.hautimage:nth-of-type(1) {
    --offset: 1;
    background: linear-gradient(to bottom,  #38BCCC 0%,#88EA9D 100%);
  }
  div.hautimage:nth-of-type(2) {
    --offset: 2;
    background: linear-gradient(to bottom,  #38BCCC 0%,#88EA9D 100%);
  }
  div.hautimage:nth-of-type(3) {
    --offset: 3;
    background: linear-gradient(to bottom,  #38BCCC 0%,#88EA9D 100%);
  }
 
  
  input:nth-of-type(1) {
    margin-right: 30px;
    margin-top: -170px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ div#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    margin-left: 30px;
    margin-top: -170px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ div#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    margin-left: 70px;
    margin-top:  -170px;
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ div#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ div#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ div#carousel {
    --position: 5;
  }
 
    input[type="radio"] {
       
        transform: scale(2.2); 
        
     
    }

    p.para {
      font-family: "Afacad Flux", sans-serif;
      font-size: 16pt;
      text-indent: 20px;
  
  }
    
.CONtainer{
  width: 100%;
  height: 1500px;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: repeat(3,300px);
 row-gap: 180px;
}
.CONtainer-item{
      margin-left: auto;
      margin-right: auto;
      height: 280px;
      width:90%;
      display: flex;
      border-radius: 10px;
  }
.CONtainer-item-img{
      width: 40%;
      height: 310px;
  }
.CONtainer-item-img img{
      height: 310px;
      object-fit: cover;
      width: 100%;
      box-shadow: 1px 1px 1px gray;
  }

.CONtainer-item-img img {
  opacity: 0;
  transform: translateX(70px); 
  transition: opacity 2s ease-out, transform 0.6s ease-out;
}

.CONtainer-item-img.visible img {
  opacity: 1;
  transform: translateX(0);
}

 .CONtainer-item .texte1{
  border: 1px solid black;
  margin-top: 40px;
  margin-left: -20px;
  width: 60%;
  height: 400px;
  box-shadow: 1px 1px 1px gray;
 } 
 .CONtainer-item .texte2{
  border: 1px solid black;
  margin-top: 40px;
  margin-right: -20px;
  width: 60%;
  height: 360px;
  box-shadow: 1px 1px 1px gray;
 }
 .CONtainer-item .texte3{
  border: 1px solid black;
  margin-top: 40px;
  margin-left: -20px;
  width: 60%;
  height: 390px;
  box-shadow: 1px 1px 1px gray;
 }
 div.texte1 h3{
  color: rgb(31, 139, 182);
  font-weight: bold;
 }
 div.texte2 h3{
  color: rgb(31, 139, 182);
  font-weight: bold;
 }
 div.texte3 h3{
  color: rgb(31, 139, 182);
  font-weight: bold;
 }
 div.texte1 h3, p {
  margin-left: 50px;
  
 }
 div.texte2 h3 ,p {
  margin-left: 50px;
 }
 div.texte3 h3, p {
  margin-left: 50px;
 }



   
  
  
  
  
