main{
    z-index: 1;
    padding-top: 66px;
    overflow-x: hidden;
}

header{
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation-bar{
    background-color: #d2dae2;
}

.icon-link{
    font-size: 20px;
}

.footer-nabu{
    background-color: rgba(0, 0, 0, 0.05);
}

.footer-nabu > div{
    padding: 0 !important;
}

.footer-text-links{
    padding-right: 25px;
}
