*, div {
    font-size: 20px;
}


main {
    margin: 66px 0;
}

h1, h2{
    margin-left: 20px;
    font-weight: bold;
}

h3 {
    margin-left: 30px;
}

main div{font-weight: 500;}

/*--------Intro--------*/
#intro {
    background-image: url('');
    height: 400px;
}

.titre {
    /*width: */
}

.txtIntro {
    margin-left: 30px;
    max-width: 900px;
}

/*--------Parties--------*/


/*----------- Partie Analyses -----------*/  
#analyses {

}

#analyses .info{
    display: flex;
    position: relative;
    align-items: flex-start;
    background-color: lightgray;
    padding: 4px;
    margin: 10px 0px 50px 0px;

}

table {
    border-style: dotted;
    border: 1px;
}

/*--------Partie Chiffre d'affaire/Revenu net--------*/
#statsRevenu {
    display: flex;
    position: relative;
    align-items: flex-start;
    
}
.statsRvnTxt h3{
    font-weight: 700;
}

.StatsCA, .StatsRN{
    border-radius: 5px;
    max-width: 900px;
    padding: 20px;
    margin: 30px 20px 30px 50px;
}



.StatsCA{background: linear-gradient(to bottom,  #38BCCC 0%,#88EA9D 100%);
    box-shadow: 0px 0px 5px 5px #33CEC6;}
.StatsRN{background: linear-gradient(to bottom,  #88EA9D 0%,#38BCCC 100%);
    box-shadow: 0px 0px 5px 5px #33CEC6;}


.graphique {
	float: right;
    margin: 15px 30px 15px 35px;
}

/*--------Partie Effectif et RH--------*/
#EffctRH {
    margin: 200px 30px 0px 30px;
}

.RH{
    display: flex;
}


.RhParagraph{
    float: right;
    margin: 20px 10px 10px 10px;
}

.Abs, .HS{
    display: flex;
}
.AbsTxt, .HSTxt{
    margin-top: 60px;
}

/*--------Partie Emprunte Carbone--------*/
#emissionsCarbone {
    position: relative;
    justify-content: end;
    margin: 150px 20px 150px 20px;

}

.emsnCarbnTxt  {

}

.emsnCarbnGraph  {

}